@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">);

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Dancing Script', cursive;
    /* display: flex; */
}

 

.container{
    display:flex;
    background-color: rgb(86, 83, 68);
    width: fit-content;
    border-radius: 10px;
}

.objective{
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 20px;
    background-color:rgb(211, 247, 193);
    border: 2px solid rgb(255, 255, 255);
    /* border-right-color: 25px solid rgb(51, 255, 10); */
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    border-radius: 30px;
    border-top-style:outset;
    border-left: 5px double rgb(255, 111, 0);
    border-top-left-radius: 75px;
    border-bottom-color:3px solid blue;
    box-shadow: 7px 0px rgb(89, 255, 0);
    color: black;
}

.objective > h3 {
    width: fit-content;
    padding-left: 10px; 
    padding-bottom:10px;
    padding-right:10px;
    border-left: 2px solid blue;
    border-bottom: 2px solid blue;
    border-right: 3px solid red;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 5px; 
    margin-right: 0;
}

.objective > h3:hover{
    border-left: 20px double rgb(255, 150, 31);
    border-right: 20px double green;
    border-bottom: 5px solid blue;
    border-radius: 33.33px;
    color: red;
    text-shadow: 1px 1px rgb(255, 230, 0);
    

}

.objective >  p {
    width: 500px;
    padding-left: 5px; 
    padding-bottom:10px;
    padding-right:20px;
    border-left: 2px solid blue;
    border-bottom: 2px solid blue;
    border-right: 3px solid red;
    border-bottom-left-radius: 25px;  
    border-bottom-right-radius: 5px;    
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
    text-align: start;
    


}

#one:hover{
    color: red;
    background-color: yellow;
}

.objective > p:hover{
    border-left: 20px double rgb(252, 169, 34);
    border-right: 20px double green;
    border-bottom: 5px solid blue;
    word-spacing: 2px;
    border-radius: 33.33px;
}



.hero_img > img {
    display: block;
    border-radius:75px;
    border-top-left-radius: 3rem;
    border: 2px solid rgb(9, 255, 0);
    border-inline-color: white;
    /* border-top-style:; */
    border-top-color: rgb(252, 103, 3);
    border-top: 10px double rgb(252, 103, 3);
    margin: 50px 20px;
    border-bottom: 10px double  rgb(9, 255, 0);;
}

/* .hero_img > h3 > i{
    background-color:none;
    margin-left: 10px;
    padding: 0 10px;
} */

/* ICON SECTION */

.icon{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: rgb(0, 0, 0);
    align-self: center;
    padding: 5px 5px 1px 5px;
    margin-left: 30px;
    border-left:5px solid  rgb(34, 0, 255);
    border-bottom: 2px double orangered;
    border-bottom-left-radius: 50px ;
    border-top-right-radius: 5px;
    width: fit-content;
    border-left-style: double;
    border-left-color:  rgb(246, 246, 255);
    box-shadow: 2px 2px inset red; 
}

.icon:hover{
    border-left: 20px double rgb(255, 126, 5);
    border-right: 20px double greenyellow;
    border-radius: 33.33px;
    
}

.icon i {
    margin: 10px 10px;
    font-size: small;
    
}

.icon >i>span{
    font-size: 16px;
    padding-left: 5px;
    color:black;
}

.icon i:hover{
transform: rotate(-10deg);
background-color: rgb(231, 184, 255);
transition: 2s ;
}

.fa-whatsapp{  /* WHATSAPP  ICON*/
    color:	#25D366;
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color:rgb(255, 255, 255); 
    padding: 5px 10px;
    border-left: 2px double red;
    border-bottom: 2px double red;
    border-radius: 50px ;
}

.fa-envelope{ /* E-MAIL  ICON*/
    /* padding-left: 5px; 
    padding-bottom: 10px; */
    background-color:rgb(251, 159, 0); 
    padding: 5px 10px;
    color: aquamarine;
    border-left: 2px double red;
    border-bottom: 2px double red;
    border-radius: 50px ;
    
}

.fa-github{ /* Github ICON*/
    /* padding-left: 5px; 
    padding-bottom: 10px; */
    background-color:rgb(50, 255, 4); 
    padding: 5px 10px;
    /* color: ano quamarine; */
    border-left: 2px double red;
    border-bottom: 2px double red;
    border-radius: 50px ;
}



.tech-stack{
    margin:10px 1px;
    display:flex;
    flex-direction: row;
    padding: 10px 20px;
    border: 2px double red;
    background-color: aliceblue;
    border-radius:20px;
}

.fa-html5{
    padding:10px;
    background-color: yellow;
    margin-right: 5px;
    border-radius:20px;
    border: 2px solid orange;
    
}

.fa-css3{
    padding:10px;
    background-color: aquamarine;
    margin-left: 5px;
    border-radius:20px;
    border: 2px solid blue;
}

.tech-stack:hover{
    background-color: rgb(27, 0, 53);
    border-left: 10px double rgb(255, 126, 5);
    border-right: 10px double greenyellow;
    border-radius: 33.33px;
    flex-direction: column;
    justify-self: center;
}

/* RECORD SECTION */
.record{
    margin: 50px 30px;
    justify-content: center;
    width: fit-content;
    border: 2px solid rgb(0, 255, 242);
    border-right:4px solid rgb(0, 255, 242);
    border-style: outset;
    padding-top: 20px;
    padding-right:20px;
    background-color: maroon;
    color: white;
    border-bottom-left-radius: 25px;    
}

.record > list > ul > span {
    background-color:rgb(180, 250, 67); 
}

.record:hover{
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    border-left: 20px double rgb(255, 126, 5);
    border-right:20px double green;
    border-radius: 66.66px;
    color:blue;
    word-spacing:2px;
    background-color: floralwhite;

}

 table {
    margin:50px 50px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 10px;
    border: 2px double rgb(255, 71, 71);
    border-style: outset;
    border-right-color: rgb(0, 213, 255);
/*    padding: 20px;
    margin-top:20px;
    border:5px solid red;
    justify-items: flex-end;
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1cm;
    border-radius: 1cm; */
    /* border-color: black; */
    /* border-top-left-radius: 0%;
    background-color: lightgreen; */ 
    /* border: 1px solid rgb(5, 0, 0); */
    background-color: rgb(159, 160, 232);
    padding: 50px 50px ;
    text-transform: capitalize;
    
}

.thead th{
    text-align: auto;
    font-size: larger;
    padding: 1px 20px;
    background-color: rgb(242, 174, 222);
    border-radius: 20px;
    text-shadow: 1px 0.5px yellow;
    border-left: 2px solid red;
    
}

.tbody tr > td{
    text-align: center;
    padding: 10px 50px;
    background-color:white;
    border:2px solid red;
    border-right:2px solid green;
    border-radius:10px;
    
}

.table1:hover{
    cursor: pointer;
    border: 2px double red;
    border-left-style: 20px solid orange;
    border-left: 20px double orange;
    border-right: 20px double green;
    background-image: url(./images/bg.jpg);
    border-radius: 66.66px;
    background-color:white;
    
}


/* PERSONAL-DETAILS */
.personal-details {
    background-color:rgb(248, 248, 98);
    height: fit-content;
    margin: 30px 10px;
    padding: 10px 10px;
    padding-bottom: 100px;
    border-left: 4px solid blue;
    border-left-style: double;
    border-radius: 30px;
    /* height: fit-content; */
    justify-content:center;
    text-align: center;
}

.personal-details > ul{
    border-left:5px double blue;
    border-radius:25px;
    border-top-left-radius:0;
    padding: 0;
    margin: 0;
}

.personal-details > ul > li{
    list-style: none;
    text-wrap: wrap;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0%;
    border-left: 2px double rgb(255, 0, 0);
    border-bottom: 2px double blue;
    border-bottom-left-radius: 25px;
}

.personal-details > ul > li:hover{
    border: 10px double rgb(245, 165, 19);
    border-right-color: green;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
    text-shadow:1px 3px red;
    transition: 3s ;
    transform: rotate(3deg);
    text-transform: uppercase;
    padding-left:20px;
    border-start-start-radius: 66.66px;
    /*  */
}